html,
body {
  height: 100%;
  overflow: hidden;
}
#wrap {
  width: 100%;
  min-width: 1200px;
}
#wrap a {
  text-decoration: none;
  color: black;
}
#wrap .wrap-nav {
  position: fixed;
  right: 0;
  top: 15%;
  z-index: 2;
  width: 80px;
}
#wrap .wrap-nav li {
  cursor: pointer;
  width: 180px;
  height: 80px;
  position: relative;
  background: white;
}
#wrap .wrap-nav li div {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 3px;
}
#wrap .wrap-nav li div i {
  display: inline-block;
  width: 40px;
  height: 100%;
  font-size: 55px;
  line-height: 80px;
  margin-left: 10px;
  color: white;
}
#wrap .wrap-nav li div span {
  display: inline-block;
  white-space: nowrap;
  float: right;
  direction: rtl;
  width: 40px;
  margin-right: 10px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: white;
}
#wrap .wrap-list {
  position: absolute;
  width: 100%;
}
#wrap .wrap-list .move {
  transition: 200ms transform;
}
#wrap .wrap-list > li {
  min-height: 600px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#wrap .wrap-list .list1 {
  position: relative;
}
#wrap .wrap-list .list1 .bg {
  width: 100%;
  height: 100%;
  background: url("../img/bg-a.jpg") no-repeat;
  background-size: 100% 100%;
}
#wrap .wrap-list .list1 .list1-top {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  text-align: center;
}
#wrap .wrap-list .list1 .list1-top img {
  margin-top: 10%;
  display: inline-block;
}
#wrap .wrap-list .list1 .list1-top .next {
  font-size: 140px;
  color: #E4E6E8;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 710px;
  cursor: pointer;
}
#wrap .wrap-list .list1 .list1-top i {
  position: absolute;
}
#wrap .wrap-list .list1 .list1-top .sjx1 {
  left: 420px;
  color: #FF7200;
  font-size: 120px;
}
#wrap .wrap-list .list1 .list1-top .sjx2 {
  right: 230px;
  color: #69DF00;
  font-size: 120px;
}
#wrap .wrap-list .list1 .list1-top .sjx3 {
  right: 400px;
  color: #FFFC00;
  font-size: 180px;
}
#wrap .wrap-list .list1 .list1-top .sjx4 {
  left: 150px;
  color: #00A8FF;
  font-size: 180px;
}
#wrap .wrap-list .list1 .list1-down {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}
#wrap .wrap-list .list1 .list1-down a {
  display: inline-block;
  float: left;
}
#wrap .wrap-list .list1 .list1-down .star {
  width: 25%;
  height: 100%;
  background: url("../img/adq-1.png") no-repeat;
  background-size: 100% 100%;
}
#wrap .wrap-list .list1 .list1-down .star:hover div {
  display: block;
}
#wrap .wrap-list .list1 .list1-down .star div {
  display: none;
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 50%;
  background: rgba(0, 0, 0, 0.9);
}
#wrap .wrap-list .list1 .list1-down .star div p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
#wrap .wrap-list .list1 .list1-down .up {
  width: 45%;
  height: 100%;
  background: white;
}
#wrap .wrap-list .list1 .list1-down .up:hover {
  background: black;
}
#wrap .wrap-list .list1 .list1-down .up:hover h1 {
  color: white;
}
#wrap .wrap-list .list1 .list1-down .up:hover p {
  color: white;
}
#wrap .wrap-list .list1 .list1-down .up img {
  float: left;
  margin: 20px;
}
#wrap .wrap-list .list1 .list1-down .up div h1 {
  font-size: 30px;
  line-height: 100px;
  font-weight: bold;
}
#wrap .wrap-list .list1 .list1-down .up div p {
  line-height: 28px;
}
#wrap .wrap-list .list1 .list1-down .ly {
  width: 30%;
  height: 100%;
  background: #F2F2F2;
}
#wrap .wrap-list .list1 .list1-down .ly .ly-left {
  width: 90%;
  height: 100%;
  float: left;
}
#wrap .wrap-list .list1 .list1-down .ly .ly-left p {
  line-height: 30px;
  font-size: 15px;
  margin: 20px;
}
#wrap .wrap-list .list1 .list1-down .ly .ly-left p .blod {
  font-size: 20px;
  font-weight: bolder;
}
#wrap .wrap-list .list1 .list1-down .ly .ly-right span {
  display: inline-block;
  line-height: 30px;
  margin-top: 20px;
}
#wrap .wrap-list .list2 {
  background: url("../img/bg-b.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#wrap .wrap-list .list2 .list2-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
#wrap .wrap-list .list2 .list2-left .list2-left-wrap {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 50px;
  float: left;
}
#wrap .wrap-list .list2 .list2-left .list2-left-wrap .list2-left-logo img {
  width: 200px;
  margin-bottom: 100px;
}
#wrap .wrap-list .list2 .list2-left .list2-left-wrap .list2-left-text {
  font-size: 19px;
  line-height: 35px;
  color: white;
  font-weight: 500;
}
#wrap .wrap-list .list2 .list2-left .list2-left-wrap > a {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#wrap .wrap-list .list2 .list2-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
}
#wrap .wrap-list .list2 .list2-right img {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
#wrap .wrap-list .list2 .list2-right img:nth-child(1) {
  right: 250px;
  bottom: 140px;
}
#wrap .wrap-list .list2 .list2-right img:nth-child(2) {
  right: -30px;
  bottom: 260px;
}
#wrap .wrap-list .list2 .list2-right img:nth-child(3) {
  right: -108px;
  bottom: -245px;
}
#wrap .wrap-list .list2 .list2-right img:nth-child(4) {
  right: 480px;
  bottom: -240px;
}
#wrap .wrap-list .list2 .list2-right img:nth-child(5) {
  right: -104px;
  bottom: -220px;
}
#wrap .wrap-list .list3 {
  position: relative;
  background: url("../img/bg-c.jpg") no-repeat;
  background-size: 100% 100%;
}
#wrap .wrap-list .list3 .list3-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 50px;
  float: left;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap .smallSpan {
  position: absolute;
  top: 0;
  right: 0;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap .smallSpan img {
  width: 210px;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap .list3-left-logo img {
  width: 350px;
  margin-bottom: 100px;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap .list3-left-text {
  font-size: 19px;
  line-height: 35px;
  color: #668596;
  font-weight: 500;
}
#wrap .wrap-list .list3 .list3-left .list3-left-wrap > a {
  display: inline-block;
  margin-top: 50px;
  color: #668596;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #668596;
}
#wrap .wrap-list .list3 .list3-right {
  position: absolute;
  right: -271px;
  top: 40px;
  width: 70%;
  height: 100%;
}
#wrap .wrap-list .list3 .list3-right .right-bg {
  position: absolute;
  width: 690px;
}
#wrap .wrap-list .list3 .list3-right .right-bg2 {
  position: absolute;
  width: 560px;
  left: 66px;
  top: 71px;
}
#wrap .wrap-list .list3 .list3-right .right-bg3 {
  position: absolute;
  width: 560px;
  left: 66px;
  top: 71px;
}
#wrap .wrap-list .list4 {
  position: relative;
  background: url("../img/bg-d2.jpg") no-repeat;
  background-size: 105% 105%;
}
#wrap .wrap-list .list4 .list4-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 50px;
  float: left;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap .smallSpan {
  position: absolute;
  top: -160px;
  right: 0;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap .smallSpan img {
  width: 210px;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap .list4-left-logo img {
  width: 400px;
  margin-bottom: 100px;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap .list4-left-text {
  font-size: 19px;
  line-height: 35px;
  color: white;
  font-weight: 500;
}
#wrap .wrap-list .list4 .list4-left .list4-left-wrap > a {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#wrap .wrap-list .list4 .list4-right {
  position: absolute;
  right: -130px;
  bottom: -140px;
  width: 70%;
  height: 100%;
}
#wrap .wrap-list .list4 .list4-right .list4-right-wrap img {
  width: 580px;
  position: absolute;
  display: inline-block;
  float: right;
}
#wrap .wrap-list .list4 .list4-right .list4-right-wrap .dhua {
  opacity: 1;
}
#wrap .wrap-list .list4 .list4-right .list4-right-wrap .list4-hand {
  right: 200px;
  top: -50px;
}
#wrap .wrap-list .list5 {
  background: url("../img/bg-e.jpg") no-repeat;
  background-size: 100% 100%;
}
#wrap .wrap-list .list5 .list5-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 50px;
  float: left;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap .smallSpan {
  position: absolute;
  top: 0;
  right: 0;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap .smallSpan img {
  width: 210px;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap .list5-left-logo img {
  width: 400px;
  margin-bottom: 100px;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap .list5-left-text {
  font-size: 19px;
  line-height: 35px;
  color: white;
  font-weight: 500;
}
#wrap .wrap-list .list5 .list5-left .list5-left-wrap > a {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#wrap .wrap-list .list5 .list5-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
}
#wrap .wrap-list .list5 .list5-right .list5-right-wrap img {
  position: absolute;
}
#wrap .wrap-list .list5 .list5-right .list5-right-wrap img:nth-child(1) {
  width: 450px;
  top: 10px;
  left: 20px;
}
#wrap .wrap-list .list5 .list5-right .list5-right-wrap img:nth-child(2) {
  width: 600px;
  bottom: -60px;
  left: 220px;
}
#wrap .wrap-list .list5 .list5-right .list5-right-wrap img:nth-child(3) {
  width: 120px;
  right: 300px;
  top: 60px;
}
#wrap .wrap-list .list5 .list5-right .list5-right-wrap img:nth-child(4) {
  width: 200px;
  left: 160px;
  bottom: 0;
}
#wrap .wrap-list .list6 {
  display: block;
  background: url("../img/bg-f.png") no-repeat;
  background-size: 100% 100%;
}
#wrap .wrap-list .list6 .list6-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
#wrap .wrap-list .list6 .list6-left .list6-left-wrap {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-left: 50px;
  float: left;
}
#wrap .wrap-list .list6 .list6-left .list6-left-wrap .list6-left-logo img {
  width: 400px;
  margin-bottom: 100px;
}
#wrap .wrap-list .list6 .list6-left .list6-left-wrap .list6-left-text {
  font-size: 19px;
  line-height: 35px;
  color: white;
  font-weight: 500;
}
#wrap .wrap-list .list6 .list6-left .list6-left-wrap > a {
  display: inline-block;
  margin-top: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#wrap .wrap-list .list6 .list6-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
}
#wrap .wrap-list .list6 .list6-right .list6-right-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 1200px;
}
