.li-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#warp #navigation > header {
  height: 100%;
  min-width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  position: relative;
}
#warp #navigation > header .active {
  color: red;
}
#warp #navigation > header a:hover {
  color: red;
}
#warp #navigation > header span {
  margin: 0 5px;
}
#warp #navigation > header > .left > a {
  margin-right: 20px;
  line-height: 30px;
}
#warp #navigation > header > .header-right {
  line-height: 30px;
}
#warp #navigation nav {
  width: 100%;
  position: absolute;
  height: 140px;
  background-color: rgba(67, 67, 67, 0.2);
  font-size: 14px;
  border-top: 1px solid transparent ;
  z-index: 99;
}
#warp #navigation nav a {
  color: #FFFFDB;
}
#warp #navigation nav .nav-li {
  min-width: 980px;
  height: 85px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#warp #navigation nav .nav-li > li:nth-child(1) {
  margin-top: 10px;
  width: 100px;
}
#warp #navigation nav .nav-li > li:nth-child(2) {
  position: relative;
  width: 200px;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div {
  height: 50px;
  padding-top: 10px;
  padding-left: 7px;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div > ul {
  padding-left: 35px;
  position: absolute;
  height: 165px;
  background-color: rgba(43, 43, 43, 0.7);
  top: 60px;
  display: none;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div > ul li {
  width: 120px;
  line-height: 18px;
  height: 42px;
  padding-top: 5px;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}
#warp #navigation nav .nav-li > li:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(6) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(8) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(10) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  width: 200px;
}
#warp #navigation nav .nav-li .bor-li {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  padding-right: 20px ;
}
#warp #navigation nav .nav-li .bor-li span {
  width: 3px;
  height: 35px;
  background-color: #DEDEDF;
}
#warp footer {
  width: 100%;
  min-width: 980px;
  background-color: #434343;
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 45px 140px  0 ;
}
#warp footer .fot-top .wap {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .wap .warp-1 {
  display: flex;
  flex-direction: row;
}
#warp footer .fot-top .wap .warp-1 .warp-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
#warp footer .fot-top .wap .warp-1 .warp-left img:nth-child(1) {
  width: 53px;
  padding-bottom: 10px;
}
#warp footer .fot-top .wap .warp-1 .warp-right {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .wap .warp-1 .warp-right img:nth-child(1) {
  width: 53px;
  padding-bottom: 10px;
}
#warp footer .fot-top .event {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .event > img {
  width: 72px;
}
#warp footer .fot-top .event .event-top {
  display: flex;
  align-items: center;
  line-height: 22px;
}
#warp footer .fot-top .event .event-top > div {
  display: flex;
  flex-flow: column;
  text-align: left;
}
#warp footer .fot-top .event .event-top > div a {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  width: 170px;
}
#warp footer .fot-top .event .event-top > div p {
  padding-left: 19px;
  font-size: 12px;
  color: #d7b643;
  margin: 0;
}
#warp footer .fot-top .event .event-bot {
  display: flex;
  align-items: center;
  line-height: 22px;
}
#warp footer .fot-top .event .event-bot > div {
  display: flex;
  flex-flow: column;
  text-align: left;
}
#warp footer .fot-top .event .event-bot > div a {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
}
#warp footer .fot-top .event .event-bot > div p {
  padding-left: 19px;
  font-size: 12px;
  color: #d7b643;
}
#warp footer .fot-top .tags {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .tags > img {
  width: 60px;
}
#warp footer .fot-top .tags > div {
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  display: flex;
  flex-flow: row wrap;
  width: 240px;
}
#warp footer .fot-top .tags > div > a {
  font-size: 13px;
  padding: 5px;
  color: #adadad;
  border: 1px solid #adadad;
  margin-right: 5px;
  margin-bottom: 5px;
}
#warp footer .fot-top .address {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#warp footer .fot-top .address > img {
  width: 106px;
  padding-bottom: 10px;
}
#warp footer .fot-top .address > p {
  margin: 0;
  color: white;
}
#warp footer .fot-top .address > p span {
  color: #d7b643;
}
#warp footer .fot-top .address > p > img {
  padding-top: 10px;
  width: 155px;
  height: 45px;
}
#warp footer .fot-top .fot-bor {
  height: 155px;
  width: 1px;
  margin: 0 20px;
  border-right: 1px solid #565656;
}
#warp footer .fot-bot {
  line-height: 110px;
  color: white;
  width: 100%;
  height: 110px;
  margin-top: 25px;
  border-top: 1px solid #565656;
}
#warp footer .fot-bot > div {
  display: inline-block;
  margin-top: 35px;
}
#warp footer .fot-bot > div a:nth-child(1) {
  color: #d7b643;
}
#warp footer .fot-bot a {
  color: white;
  font-size: 14px;
}
#warp footer .fot-bot img {
  margin-left: 20px;
}
#warp .returnTop {
  display: none;
  width: 127px;
  height: 315px;
  background-color: #ffca10;
  position: fixed;
  right: 30px;
  top: 45%;
}
#warp .returnTop > .Topbj {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px auto;
  width: 107px;
  height: 256px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(../img/l-public-2.png);
}
#warp .returnTop > .Topbj p {
  margin: 0;
}
#warp .returnTop > .Topbj #l-img_tow {
  padding-bottom: 15px;
}
#warp .returnTop > .Topbj div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -40px;
}
#warp #section {
  width: 100%;
  margin-top: 140px;
}
#warp #section .logo {
  width: 100%;
  border-bottom: 1px solid #cdcdce;
}
#warp #section .logo .yuding {
  text-align: left;
  width: 1200px;
  height: 53px;
  margin: 0 auto;
  padding-top: 15px;
}
#warp #section .center {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
#warp #section .center .nav {
  width: 100%;
  height: 180px;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdce;
  text-align: left;
}
#warp #section .center .nav ul li {
  font-size: 18px;
  margin: 3px 0;
}
#warp #section .center .nav ul li .active {
  background: #d2bd0c;
}
#warp #section .center .nav ul li span {
  height: 50px;
  width: 60px;
  margin-top: 30px;
  padding: 5px;
  margin-left: 10px;
}
#warp #section .center .nav ul li span a {
  font-size: 18px;
}
#warp #section .center .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 807px;
  padding-top: 20px;
  padding-left: 10px;
}
#warp #section .center .content .left {
  width: 70px;
  height: 100%;
  background: #cfb046;
  position: relative;
}
#warp #section .center .content .left div {
  width: 43px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 10px;
  background: #cfb046;
  box-shadow: 0 0 8px #575758;
  font-size: 18px;
  line-height: 32px;
}
#warp #section .center .content .left div p {
  margin: 0;
}
#warp #section .center .content .left-2 {
  width: 70px;
  height: 100%;
  background: #d44d47;
  position: relative;
}
#warp #section .center .content .left-2 div {
  width: 43px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 10px;
  background: #d44d47;
  box-shadow: 0 0 8px #575758;
  font-size: 18px;
  line-height: 32px;
}
#warp #section .center .content .left-2 div p {
  margin: 0;
}
#warp #section .center .content .right {
  position: relative;
  width: 1060px;
  height: 100%;
  background-color: #42413f;
  padding-left: 20px;
  padding-top: 18px;
}
#warp #section .center .content .right .top {
  padding-left: 20px;
}
#warp #section .center .content .right .top ul li div {
  float: left;
  width: 198px;
  height: 240px;
  margin: 0 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#warp #section .center .content .right .top ul li div img {
  width: 195px;
  height: 145px;
  border: 6px solid #cdcdce;
}
#warp #section .center .content .right .top ul li div p {
  margin: 0;
}
#warp #section .center .content .right .bot {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0px;
}
#warp #section .center .content .right .bot .tiaozhuan {
  color: white;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#warp #section .center .content .right .bot .tiaozhuan a {
  padding: 8px 16px;
  border: 1px solid white;
  color: white;
  margin-left: 8px;
}
#warp #section .center .content .right .bot .tiaozhuan a.s1 {
  background-color: #e6d40d;
}
#warp #section .center .content .right .bot .tiaozhuan input {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #c2c1c0;
}
