.hf html,
.hf body {
  width: 100%;
  height: 100%;
}
.hf .clearfix {
  *zoom: 1;
}
.hf .clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.hf .height-wrap #head {
  width: 100%;
  height: 80px;
  background-size: 100%;
  font-size: 16px;
  overflow: hidden;
}
.hf .height-wrap #head a {
  text-decoration: none;
  color: black;
}
.hf .height-wrap #head a:hover {
  color: deepskyblue;
}
.hf .height-wrap #head a.active {
  color: deepskyblue;
}
.hf .height-wrap #head .nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 150px;
}
.hf .height-wrap #head .nav .logo {
  margin-top: 20px;
}
.hf .height-wrap #head .nav .list {
  margin-top: 30px;
  float: right;
}
.hf .height-wrap #head .nav .list li {
  float: left;
  margin-left: 20px;
}
.hf .height-wrap #footer {
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 0;
  background: #333333;
  padding-top: 20px;
}
.hf .height-wrap #footer a {
  text-decoration: none;
  color: gray;
}
.hf .height-wrap #footer .footer-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hf .height-wrap #footer .footer-center ul {
  margin: 0 25px;
}
.hf .height-wrap #footer .footer-center ul li a {
  line-height: 25px;
}
.hf .height-wrap #footer .footer-center ul p {
  font-size: 17px;
  color: white;
  margin-bottom: 30px;
}
.hf .height-wrap #footer .footer-center ul a {
  font-size: 15px;
}
.hf .height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .wb {
  margin-left: 5px;
}
.hf .height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .ewm {
  opacity: 0;
}
.hf .height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .ewm img {
  margin-top: 10px;
  width: 100px;
}
.hf .height-wrap #footer .footer-center .list7 li:nth-child(2) .wx:hover .ewm {
  opacity: 1;
}
.hf .height-wrap #footer .line1 {
  width: 90%;
  height: 2px;
  background: #272727;
  position: absolute;
  top: 50px;
}
.hf .height-wrap #footer .line2 {
  width: 90%;
  height: 2px;
  background: #272727;
  position: absolute;
  top: 220px;
}
.hf .height-wrap #footer .p1 {
  color: gray;
  margin-left: 300px;
  position: absolute;
  left: 0;
  bottom: 150px;
  margin-top: 30px;
}
.hf .height-wrap #footer .footer-bottom {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.hf .height-wrap #footer .footer-bottom .list li {
  float: left;
  margin: 15px;
  opacity: 0.5;
  transition: 1s opacity;
}
.hf .height-wrap #footer .footer-bottom .list li:hover {
  opacity: 1;
}
.hf .height-wrap #footer .down {
  text-align: center;
  position: relative;
  bottom: -30px;
  width: 100%;
}
.hf .height-wrap #footer .down span {
  display: inline-block;
  color: white;
  font-size: 12px;
}
.hf .height-wrap #footer .down .s1 img {
  width: 20px;
}
html,
body {
  width: 100%;
  height: 100%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.height-wrap #head {
  width: 100%;
  height: 80px;
  background-size: 100%;
  font-size: 16px;
  overflow: hidden;
}
.height-wrap #head a {
  text-decoration: none;
  color: black;
}
.height-wrap #head a:hover {
  color: deepskyblue;
}
.height-wrap #head a.active {
  color: deepskyblue;
}
.height-wrap #head .nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 150px;
}
.height-wrap #head .nav .logo {
  margin-top: 20px;
}
.height-wrap #head .nav .list {
  margin-top: 30px;
  float: right;
}
.height-wrap #head .nav .list li {
  float: left;
  margin-left: 20px;
}
.height-wrap #footer {
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 0;
  background: #333333;
  padding-top: 20px;
}
.height-wrap #footer a {
  text-decoration: none;
  color: gray;
}
.height-wrap #footer .footer-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.height-wrap #footer .footer-center ul {
  margin: 0 25px;
}
.height-wrap #footer .footer-center ul li a {
  line-height: 25px;
}
.height-wrap #footer .footer-center ul p {
  font-size: 17px;
  color: white;
  margin-bottom: 30px;
}
.height-wrap #footer .footer-center ul a {
  font-size: 15px;
}
.height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .wb {
  margin-left: 5px;
}
.height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .ewm {
  opacity: 0;
}
.height-wrap #footer .footer-center .list7 li:nth-child(2) .wx .ewm img {
  margin-top: 10px;
  width: 100px;
}
.height-wrap #footer .footer-center .list7 li:nth-child(2) .wx:hover .ewm {
  opacity: 1;
}
.height-wrap #footer .line1 {
  width: 90%;
  height: 2px;
  background: #272727;
  position: absolute;
  top: 50px;
}
.height-wrap #footer .line2 {
  width: 90%;
  height: 2px;
  background: #272727;
  position: absolute;
  top: 220px;
}
.height-wrap #footer .p1 {
  color: gray;
  margin-left: 300px;
  position: absolute;
  left: 0;
  bottom: 150px;
  margin-top: 30px;
}
.height-wrap #footer .footer-bottom {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.height-wrap #footer .footer-bottom .list li {
  float: left;
  margin: 15px;
  opacity: 0.5;
  transition: 1s opacity;
}
.height-wrap #footer .footer-bottom .list li:hover {
  opacity: 1;
}
.height-wrap #footer .down {
  text-align: center;
  position: relative;
  bottom: -30px;
  width: 100%;
}
.height-wrap #footer .down span {
  display: inline-block;
  color: white;
  font-size: 12px;
}
.height-wrap #footer .down .s1 img {
  width: 20px;
}
#content {
  width: 100%;
}
#content .content-head {
  width: 100%;
  height: 450px;
  background: url("../img/chezhu/owners_banner.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#content .content-head .wrap {
  position: absolute;
  top: 100px;
  left: 150px;
}
#content .content-head .wrap h1 {
  font-size: 54px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}
#content .content-head .wrap p {
  font-size: 30px;
  letter-spacing: 5px;
  text-align: left;
  color: #fff;
  font-weight: 500;
}
#content .content-head .wrap .ewm {
  float: left;
  width: 400px;
}
#content .content-head .wrap .ewm .img1 {
  width: 143px;
  height: 143px;
  float: left;
  margin-top: 20px;
}
#content .content-head .wrap .ewm .a1 {
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
#content .content-head .wrap .ewm .a1 span {
  float: left;
  margin-left: 20px;
  line-height: 50px;
}
#content .content-head .wrap .ewm .a1 span img {
  margin-top: 10px;
  display: inline-block;
}
#content .content-head .wrap .ewm .a2 {
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
#content .content-head .wrap .ewm .a2 span {
  float: left;
  margin-left: 20px;
  line-height: 50px;
}
#content .content-head .wrap .ewm .a2 span img {
  margin-top: 10px;
  position: relative;
  bottom: 118px;
  display: inline-block;
}
#content .lunbo {
  padding: 100px 0;
  background: white;
  width: 100%;
  position: relative;
}
#content .lunbo .hidden {
  width: 900px;
  overflow: hidden;
  margin: 100px auto 0 auto;
}
#content .lunbo .hidden .swiper-container {
  position: relative;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap {
  width: 750px;
  display: flex;
  justify-content: center;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .left-bottom {
  height: 459px;
  width: 218px;
  position: relative;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .left-bottom .left-head {
  height: 338px;
  width: 190px;
  position: absolute;
  top: 54px;
  left: 12px;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .left-bottom .left-head img {
  height: 338px;
  width: 190px;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .right {
  margin-top: 200px;
  margin-left: 250px;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .right .p1 {
  font-size: 34px;
  line-height: 40px;
  padding: 25px 0 5px;
}
#content .lunbo .hidden .swiper-container .swiper-slide .wrap .right .p2 {
  margin-top: 20px;
  font-size: 24px;
  color: #999999;
  line-height: 30px;
  font-weight: normal;
}
#content .lunbo .hidden .swiper-container .swiper-scrollbar {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 300px;
}
#content .lunbo .hidden .swiper-container .swiper-pagination span {
  width: 50px;
  margin-left: 20px;
  height: 50px;
  border-radius: 0;
  position: relative;
  top: -320px;
  right: -173px;
  display: inline-block;
  background: url("../img/chezhu/owners_icon.png") no-repeat;
  border-bottom: 3px solid #1B82E2;
  padding-bottom: 10px;
}
#content .lunbo .hidden .swiper-container .swiper-pagination span:nth-child(1) {
  background-position: -250px 0;
}
#content .lunbo .hidden .swiper-container .swiper-pagination span:nth-child(2) {
  background-position: -250px -80px;
}
#content .lunbo .hidden .swiper-container .swiper-pagination span:nth-child(3) {
  background-position: -250px -160px;
}
#content .lunbo .hidden .swiper-container .swiper-pagination span:nth-child(4) {
  background-position: -250px -240px;
}
#content .lunbo2 {
  width: 100%;
  background: #F7F7F7;
  position: relative;
}
#content .lunbo2 .hidden .swiper-container .swiper-pagination span {
  width: 50px;
  margin-left: 20px;
  height: 50px;
  border-radius: 0;
  position: relative;
  top: -320px;
  right: -173px;
  display: inline-block;
  background: url("../img/chezhu/owners_icon.png") no-repeat;
  border-bottom: 3px solid #1B82E2;
  padding-bottom: 10px;
}
#content .lunbo2 .hidden .swiper-container .swiper-pagination span:nth-child(1) {
  background-position: -250px -320px;
}
#content .lunbo2 .hidden .swiper-container .swiper-pagination span:nth-child(2) {
  background-position: -250px -400px;
}
#content .lunbo2 .hidden .swiper-container .swiper-pagination span:nth-child(3) {
  background-position: -250px -480px;
}
#content .lunbo3 {
  width: 100%;
  position: relative;
}
#content .lunbo3 .hidden .swiper-container .swiper-pagination span {
  width: 50px;
  margin-left: 20px;
  height: 50px;
  border-radius: 0;
  position: relative;
  top: -320px;
  right: -173px;
  display: inline-block;
  background: url("../img/chezhu/owners_icon.png") no-repeat;
  border-bottom: 3px solid #1B82E2;
  padding-bottom: 10px;
}
#content .lunbo3 .hidden .swiper-container .swiper-pagination span:nth-child(1) {
  background-position: -250px -560px;
}
#content .lunbo3 .hidden .swiper-container .swiper-pagination span:nth-child(2) {
  background-position: -250px -640px;
}
#content .lunbo3 .hidden .swiper-container .swiper-pagination span:nth-child(3) {
  background-position: -250px -720px;
}
#content .content-center {
  padding-top: 50px;
  width: 100%;
  height: 600px;
  background: #F7F7F7;
}
#content .content-center .stop {
  margin-top: 20px;
  text-align: center;
}
#content .content-center .stop h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0;
}
#content .content-center .stop p {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}
#content .content-center .stop .line {
  display: inline-block;
  width: 150px;
  height: 2px;
  margin: 30px;
  background: deepskyblue;
}
#content .content-center .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
#content .content-center .wrap div {
  width: 200px;
  height: 200px;
  margin: 0 100px;
  position: relative;
}
#content .content-center .wrap div:hover .zero {
  transform: scale(1);
}
#content .content-center .wrap div .zero {
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: 0.3s transform;
}
#content .content-down .more {
  margin-top: 20px;
  text-align: center;
}
#content .content-down .more h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0;
}
#content .content-down .more p {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}
#content .content-down .more .line {
  display: inline-block;
  width: 150px;
  height: 2px;
  margin: 30px;
  background: deepskyblue;
}
#content .content-down .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
#content .content-down .wrap div {
  float: left;
  width: 100px;
  height: 70px;
  text-align: center;
}
#content .content-down .wrap div img {
  display: inline-block;
}
#content .content-down .wrap div span {
  margin-top: 10px;
  display: inline-block;
}
#content .content-down .down {
  width: 100%;
  height: 400px;
  text-align: center;
  padding-top: 30px;
}
#content .content-down .down img {
  display: inline-block;
}
