html,body{
    margin: 0;
    padding: 0;
}
.nav{
    width: 100vw;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(199, 199, 199);
}