<!DOCTYPE html>

<html>
	<!--
    	作者：TOP
    	时间：2018-11-01
    	描述：收银员订单商品查询界面（由收银员在订单查询界面查询点击进入，根据订单号查询当前订单的商品信息）
    -->
	<head>
		
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="css/backSingle.css" media="all"/>
	</head>
	<style>
		
	</style>
	<body>
		<div class="backSingfather">
		    <div class="qordsta1">订单商品查询</div>
		    <div class="qordsta2"><button style="width: 100px;" class="returnQor">返回</button></div>
		    <div>
		    	<form class="layui-form" action="#" >
				<table class="layui-table" lay-size="sm">
					<colgroup>
					    <col width="40">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="80">
					    <col width="70">
					  
					</colgroup>
				  <thead>
				    <tr>
						<th>序号</th>
						<th>订单号</th>
						<th>商品单号</th>
						<th>商品类型</th>
						<th>品牌名称</th>	
						<th>品牌型号</th>
						<th>商品颜色</th>
						<th>商品大小</th>
						<th>商品价格</th>
						<th>是否折扣</th>
						<th>折扣金额</th>
						<th>售价</th>
						<th>数量</th>
						<th><button>全部退单</button></th>
				    </tr> 
				  </thead>
				  <tbody class="">
				  	<tr>
				  		<td>10086</td>
				  		<td>1008610086</td>
				  		<td>1008610086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td>10086</td>
				  		<td><button>退单</button></td>
				  	</tr>
				  </tbody>
				</table>
			</form>
		    </div>	
		</div>
		
		<script src="../../../base/js/jquery-1.11.3.min.js"></script>
		<script src="../../../base/layui-v2.4.3/layui/layui.js"></script>
		<script type="text/javascript" src="js/backSingle.js"></script>
	</body>
</html>
