<!DOCTYPE html>
<html>
	   <!--
    	作者：TOP
    	时间：2018-11-01
    	描述：收银员信息界面（由收银员登陆进入，点击可以进入营业界面、修改界面）
    	注：点击开始营业，才开始计时（上班时间），当前页面不计时。
    -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="../../../index/css/index.css" media="all"/>
	</head>
	<style>

	</style>
	<body>
		<div class="head">
				<h2 id="head_h2">欢迎来到TOP商家收银系统收银端</h2>
		</div>
		<div class="xhy_1002"><img src="../../../images/1002.gif"/></div>
		<div class="indexfather">
			<div class="indeed">商家：*****</div>
			<div class="indeed">工号：***</div>
			<div class="indeed">身份：员工</div>
			<div class="indeed">性别：**</div>
			<div class="indeed " id="clock" style="padding-left:30px;padding-top: 30px;">当前时间:</div>
			<div class="indeed" style="padding-left: 40px;"><button style="width: 160px;height: 60px;" class="ind">开始营业</button></div>
			<div class="" style="float: left;padding-top: 40px;padding-left: 7%;"><button>修改登录密码</button></div>
			<div class="indeed" style="margin-left:260px;padding-top: 40px;"><button class="returnlogin">退出登录</button></div>	
		</div>
		<script src="../../../base/js/jquery-1.11.3.min.js"></script>
		<script src="../../../base/layui-v2.4.3/layui/layui.js"></script>
		<script src="../../../index/js/index.js"></script>
	</body>
</html>
