/*定义4个方向的动画*/
/*上*/
.an-page-moveToTop{
  animation: moveToTop 0.6s ease both;
}
.an-page-moveFromTop{
  animation: moveFromTop 0.6s ease both;
}

/*下*/
.an-page-moveToBottom{
  animation: moveToBottom 0.6s ease both;
}
.an-page-moveFromBottom{
  animation: moveFromBottom 0.6s ease both;
}

/*左*/
.an-page-moveToLeft{
  animation: moveToLeft 0.6s ease both;
}
.an-page-moveFromLeft{
  animation: moveFromLeft 0.6s ease both;
}

/*右*/
.an-page-moveToRight{
  animation: moveToRight 0.6s ease both;
}
.an-page-moveFromRight{
  animation: moveFromRight 0.6s ease both;
}
/*小箭头*/
.an-page-moveIconUp{
  animation: moveIconUp 1s ease both infinite;
}
/*球*/
.an-page-moveCircle{
  animation: moveCircle 1.2s ease both ;
}
/*放大*/
.an-page-moveScale{
  animation: moveScale 0.6s ease both ;
}
/*X轴旋转*/
.an-page-moveRotate{
  animation: moveRotate 0.6s ease both ;
}
/*Y轴旋转*/
.an-page-moveLastRotate{
  animation: moveLastRotate 1s ease both ;
}
/*lastbtn*/
.an-page-moveLastBtn{
  animation: moveLastBtn 1s ease both ;
}

@keyframes moveToTop {
  from{}
  to{transform: translateY(-100%)}
}
@keyframes moveFromTop {
  from{transform: translateY(-100%)}
  to{}
}


@keyframes moveToBottom {
  from{}
  to{transform: translateY(100%)}
}
@keyframes moveFromBottom {
  from{transform: translateY(100%)}
  to{}
}


@keyframes moveToLeft {
  from{}
  to{transform: translateX(-100%)}
}
@keyframes moveFromLeft {
  from{transform: translateX(-100%)}
  to{}
}


@keyframes moveToRight {
  from{}
  to{transform: translateX(100%)}
}
@keyframes moveFromRight {
  from{transform: translateX(100%)}
  to{}
}

@keyframes moveIconUp {
  0%{transform: translateY(100%);opacity: 0}
  50%{opacity: 1}
  100%{transform: translateY(-100%);opacity: 0}
}

@keyframes moveCircle {
  0%{transform: translateY(-100%);opacity: 0}
  40%{transform: translateY(20%);opacity: 0.3}
  60%{transform: translateY(-20%);opacity: 0.5}
  80%{transform: translateY(20%);opacity: 0.7}
  100%{opacity: 1}
}
@keyframes moveScale {
  from{transform: scale(0.3);opacity: 0}
  to{transform: scale(1);opacity: 1}
}

@keyframes moveRotate {
  from{transform: rotateY(90deg)}
  to{}
}

@keyframes moveLastRotate {
  from{transform: rotateX(90deg) translateY(-100%);}
  to{}
}
@keyframes moveLastBtn {
  0%{transform: translateY(-100%);opacity: 0}
  25%{transform: translateY(30%);opacity: 0.6}
  50%{transform: translateY(-20%);opacity: 1}
  75%{transform: translateY(30%);opacity: 1}
  100%{transform: translateY(0);opacity: 1}
}