<!DOCTYPE html>
<html>
    <!--
    	作者：TOP
    	时间：2018-11-01
    	描述：后台管理员主界面（由管理员登陆进入，可进行功能选择）
    -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="../../../index/css/stageindex.css" media="all" />
	</head>

	<body>
		<div>
			<div class="head">
				<h2 id="head_h2">欢迎来到TOP商家收银系统后台</h2>
			</div>
		</div>
		<div class="xhy_1002"><img src="../../../images/1002.gif" /></div>
		<div class="father">
			<button id="gly1" class="stageshops">店铺信息</button>
			<button id="gly1" class="orders" >个人设置</button>
			<button id="gly2" class="returnlogin">退出登陆</button>
		</div>
		<script src="../../../base/js/jquery-1.11.3.min.js"></script>
		<script src="../../../base/layui-v2.4.3/layui/layui.js"></script>
		<script type="text/javascript" src="../../../index/js/satgeindex.js">
		</script>
	</body>
</html>