*{box-sizing:border-box;}
body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4 {margin:0;padding:0;font-style:normal;font:13px/22px "\5B8B\4F53",Arial, Helvetica,sans-serif}
ol, ul ,li{list-style: none;}
img {border: 0; vertical-align:middle;}
body{color:#000000;background:#FFF; text-align:center;overflow-X: hidden;}
body,html{width: 100%;height: 100%;}
a{color:#000000;text-decoration:none; }
a:hover{color:#BA2636;text-decoration:underline;}
.clearfix:after{content: "020";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix { zoom: 1;}