.li-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#warp #navigation > header {
  height: 100%;
  min-width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  position: relative;
}
#warp #navigation > header .active {
  color: red;
}
#warp #navigation > header a:hover {
  color: red;
}
#warp #navigation > header span {
  margin: 0 5px;
}
#warp #navigation > header > .left > a {
  margin-right: 20px;
  line-height: 30px;
}
#warp #navigation > header > .header-right {
  line-height: 30px;
}
#warp #navigation nav {
  width: 100%;
  position: absolute;
  height: 140px;
  background-color: rgba(67, 67, 67, 0.2);
  font-size: 14px;
  border-top: 1px solid transparent ;
  z-index: 99;
}
#warp #navigation nav a {
  color: #FFFFDB;
}
#warp #navigation nav .nav-li {
  min-width: 980px;
  height: 85px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#warp #navigation nav .nav-li > li:nth-child(1) {
  margin-top: 10px;
  width: 100px;
}
#warp #navigation nav .nav-li > li:nth-child(2) {
  position: relative;
  width: 200px;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div {
  height: 50px;
  padding-top: 10px;
  padding-left: 7px;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div > ul {
  padding-left: 35px;
  position: absolute;
  height: 165px;
  background-color: rgba(43, 43, 43, 0.7);
  top: 60px;
  display: none;
}
#warp #navigation nav .nav-li > li:nth-child(2) > div > ul li {
  width: 120px;
  line-height: 18px;
  height: 42px;
  padding-top: 5px;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}
#warp #navigation nav .nav-li > li:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(6) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(8) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}
#warp #navigation nav .nav-li > li:nth-child(10) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  width: 200px;
}
#warp #navigation nav .nav-li .bor-li {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  padding-right: 20px ;
}
#warp #navigation nav .nav-li .bor-li span {
  width: 3px;
  height: 35px;
  background-color: #DEDEDF;
}
#warp footer {
  width: 100%;
  min-width: 980px;
  background-color: #434343;
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 45px 140px  0 ;
}
#warp footer .fot-top .wap {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .wap .warp-1 {
  display: flex;
  flex-direction: row;
}
#warp footer .fot-top .wap .warp-1 .warp-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
#warp footer .fot-top .wap .warp-1 .warp-left img:nth-child(1) {
  width: 53px;
  padding-bottom: 10px;
}
#warp footer .fot-top .wap .warp-1 .warp-right {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .wap .warp-1 .warp-right img:nth-child(1) {
  width: 53px;
  padding-bottom: 10px;
}
#warp footer .fot-top .event {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .event > img {
  width: 72px;
}
#warp footer .fot-top .event .event-top {
  display: flex;
  align-items: center;
  line-height: 22px;
}
#warp footer .fot-top .event .event-top > div {
  display: flex;
  flex-flow: column;
  text-align: left;
}
#warp footer .fot-top .event .event-top > div a {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  width: 170px;
}
#warp footer .fot-top .event .event-top > div p {
  padding-left: 19px;
  font-size: 12px;
  color: #d7b643;
  margin: 0;
}
#warp footer .fot-top .event .event-bot {
  display: flex;
  align-items: center;
  line-height: 22px;
}
#warp footer .fot-top .event .event-bot > div {
  display: flex;
  flex-flow: column;
  text-align: left;
}
#warp footer .fot-top .event .event-bot > div a {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
}
#warp footer .fot-top .event .event-bot > div p {
  padding-left: 19px;
  font-size: 12px;
  color: #d7b643;
}
#warp footer .fot-top .tags {
  display: flex;
  flex-direction: column;
}
#warp footer .fot-top .tags > img {
  width: 60px;
}
#warp footer .fot-top .tags > div {
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  display: flex;
  flex-flow: row wrap;
  width: 240px;
}
#warp footer .fot-top .tags > div > a {
  font-size: 13px;
  padding: 5px;
  color: #adadad;
  border: 1px solid #adadad;
  margin-right: 5px;
  margin-bottom: 5px;
}
#warp footer .fot-top .address {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#warp footer .fot-top .address > img {
  width: 106px;
  padding-bottom: 10px;
}
#warp footer .fot-top .address > p {
  margin: 0;
  color: white;
}
#warp footer .fot-top .address > p span {
  color: #d7b643;
}
#warp footer .fot-top .address > p > img {
  padding-top: 10px;
  width: 155px;
  height: 45px;
}
#warp footer .fot-top .fot-bor {
  height: 155px;
  width: 1px;
  margin: 0 20px;
  border-right: 1px solid #565656;
}
#warp footer .fot-bot {
  line-height: 110px;
  color: white;
  width: 100%;
  height: 110px;
  margin-top: 25px;
  border-top: 1px solid #565656;
}
#warp footer .fot-bot > div {
  display: inline-block;
  margin-top: 35px;
}
#warp footer .fot-bot > div a:nth-child(1) {
  color: #d7b643;
}
#warp footer .fot-bot a {
  color: white;
  font-size: 14px;
}
#warp footer .fot-bot img {
  margin-left: 20px;
}
#warp .returnTop {
  display: none;
  width: 127px;
  height: 315px;
  background-color: #ffca10;
  position: fixed;
  right: 30px;
  top: 45%;
}
#warp .returnTop > .Topbj {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px auto;
  width: 107px;
  height: 256px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(../img/l-public-2.png);
}
#warp .returnTop > .Topbj p {
  margin: 0;
}
#warp .returnTop > .Topbj #l-img_tow {
  padding-bottom: 15px;
}
#warp .returnTop > .Topbj div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -40px;
}
#warp #section {
  width: 100%;
  margin-top: 140px ;
}
#warp #section .logo {
  max-width: 100%;
  min-width: 1200px;
  height: 66px;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
}
#warp #section .logo img {
  width: 162px;
  height: 16px;
  margin-left: 162px;
  margin-top: 35px;
}
#warp #section .section {
  max-width: 100%;
  min-width: 1200px;
  display: flex;
  flex-direction: row;
}
#warp #section .section .left {
  width: 158px;
  padding-top: 85px;
  margin-left: 194px;
}
#warp #section .section .left .top-1 {
  width: 156px;
  height: 41px;
  border-bottom: 1px solid #ddb219;
}
#warp #section .section .left .top-1 span a {
  padding: 0 10px ;
  height: 29px;
  background: #e9cc67;
  color: #434343;
  text-align: center;
  line-height: 29px;
  display: inline-block;
  font-size: 14px;
}
#warp #section .section .left .top-2 ul li {
  margin-top: 10px;
  width: 158px;
  height: 48px;
  background: #d9ad19;
  color: #fff;
}
#warp #section .section .left .top-2 ul li a {
  color: white;
}
#warp #section .section .left .top-2 ul li a p {
  margin: 0;
}
#warp #section .section .left .top-2 ul li:nth-child(2) {
  background: black;
}
#warp #section .section .left .top-2 ul li:nth-child(3) {
  background: #afafaf;
}
#warp #section .section .left .top-2 ul li:nth-child(4) {
  background: #c65f5a;
}
#warp #section .section .left .top-2 ul li:nth-child(5) {
  background: #fa8754;
}
#warp #section .section .left .top-3 > span {
  display: inline-block;
  width: 158px;
  height: 25px;
  border-bottom: 1px solid #ddb219;
  background: #f2f2f2;
  padding-left: 5px;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px;
  margin-top: 23px;
  margin-bottom: 10px;
}
#warp #section .section .left .top-3 ul li {
  width: 158px;
  height: 107px;
  display: inline-block;
  background: url(../img/l_img/l-img_28.jpg) no-repeat;
  background-size: 158px 107px;
  position: relative;
}
#warp #section .section .left .top-3 ul li a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 130px;
  height: 38px;
  line-height: 38px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
}
#warp #section .section .left .top-3 ul li:nth-child(2) {
  background: url(../img/l_img/l-img_29.jpg) no-repeat;
}
#warp #section .section .left .top-3 ul li:nth-child(3) {
  background: url(../img/l_img/l-img_30.jpg) no-repeat;
}
#warp #section .section .left .top-3 ul li:nth-child(4) {
  background: url(../img/l_img/l-img_31.jpg) no-repeat;
}
#warp #section .section .right {
  width: 1000px;
  margin-left: 40px;
  padding-top: 69px;
}
#warp #section .section .right .img ul li {
  width: 1000px;
  height: 250px;
}
#warp #section .section .right .img ul li div {
  float: left;
  margin-right: 10px;
  width: 306px;
  height: 208px;
}
#warp #section .section .right .img ul li div p {
  margin: 0;
}
#warp #section .section .right .img ul li div div {
  width: 306px;
  height: 208px;
  overflow: hidden;
}
#warp #section .section .right .img ul li div div img {
  width: 100%;
  height: 100%;
  transform: translateX(-20px) scale(1.1);
  transition: 0.3s;
}
#warp #section .section .right .img ul li div div img:hover {
  transform: translateX(0px) scale(1);
}
#warp #section .section .right .bot {
  height: 206px;
  width: 1000px;
  padding-bottom: 50px;
}
#warp #section .section .right .bot .tiaozhuan {
  color: black;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#warp #section .section .right .bot .tiaozhuan a {
  padding: 8px 16px;
  border: 1px solid black;
  color: black;
  margin-left: 8px;
}
#warp #section .section .right .bot .tiaozhuan a.s1 {
  background-color: #e6d40d;
}
#warp #section .section .right .bot .tiaozhuan input {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #c2c1c0;
}
