#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#head {
  font-size: 14px;
  position: relative;
  z-index: 2;
}
#head > .warp {
  min-width: 1200px;
  width: 100%;
  background: white;
  height: 30px;
  line-height: 30px;
}
#head > .warp li {
  margin-left: 10px;
}
#head > .warp li a {
  text-decoration: none;
  color: black;
}
#head > .warp > .list-head {
  float: left;
  margin-left: 90px;
}
#head > .warp > .list-head > li {
  float: left;
}
#head > .warp > .list-head > li:nth-child(1) {
  margin-right: 20px;
}
#head > .warp > .list-head > li:nth-child(2) a {
  color: red;
}
#head > .warp > .list-head > li > a:hover {
  color: red;
}
#head > .warp > .list1-head {
  float: right;
  margin-right: 100px;
}
#head > .warp > .list1-head > li {
  float: left;
}
#head > .warp > .list1-head > li:nth-child(1) > span {
  margin-left: 5px;
}
#nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 140px;
  min-width: 1200px;
  background: rgba(43, 43, 43, 0.5);
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#nav a {
  text-decoration: none;
  color: #FFFFDB;
}
#nav > .list-nav {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav > .list-nav > li {
  margin-left: 10px;
  line-height: 25px;
}
#nav > .list-nav > li.line {
  width: 3px;
  height: 35px;
  margin: 20px 10px;
  background-color: #DEDEDF;
}
#nav > .list-nav > li:nth-child(1) img {
  width: 93px;
  height: 37px;
}
#nav > .list-nav > li img {
  width: 20px;
  height: 20px;
}
#nav > .list-nav > li:nth-child(2) {
  margin-top: -50px;
}
#nav > .list-nav > li:nth-child(3) {
  position: relative;
  top: 10px;
}
#nav > .list-nav > li:nth-child(3) > .item {
  width: 150px;
  height: 60px;
  margin-top: 10px;
}
#nav > .list-nav > li:nth-child(3) .active {
  position: absolute;
  height: 165px;
  background-color: rgba(43, 43, 43, 0.7);
  top: 80px;
}
#nav > .list-nav > li:nth-child(3) .active > li {
  width: 120px;
  line-height: 1.5em;
  margin-top: 10px;
}
#nav > .list-nav > li:nth-child(3) .active > li:hover {
  background: rgba(255, 192, 203, 0.664);
}
#nav > .list-row {
  display: none;
  width: 126px;
  height: 316px;
  position: fixed;
  top: 40%;
  right: 30px;
}
#nav > .list-row .wrap {
  width: 100%;
  height: 100%;
  background: #FFCA10;
  text-align: center;
}
#nav > .list-row .wrap > .con {
  width: 107px;
  height: 256px;
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../img/l_img/l-public-2.png);
}
#nav > .list-row .wrap > .con .ew {
  width: 90px;
  height: 95px;
  margin: 9px;
}
#nav > .list-row .wrap > .con span {
  width: 100%;
  color: white;
}
#nav > .list-row .wrap > .con .one {
  font-size: 16px;
}
#nav > .list-row .wrap > .con .two {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
#nav > .list-row .wrap > span {
  widows: 100%;
  position: absolute;
  bottom: 25px;
  left: 45px;
  text-align: center;
}
#nav > .list-row .wrap > h1 {
  font-size: 18px;
  position: absolute;
  bottom: 5px;
  left: 30px;
}
#footer {
  position: relative;
  bottom: -100%;
  display: flex;
  margin-top: 100%;
  flex-direction: column;
  justify-content: space-around;
  min-width: 1200px;
  font-size: 13px;
  background: #434343;
  width: 100%;
  height: 400px;
}
#footer p {
  color: #d7b643;
}
#footer a {
  text-decoration: none;
  color: black;
}
#footer .top {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
#footer .top > div:not(.line) {
  margin-left: 30px;
  width: 250px;
}
#footer .top > .wap {
  position: relative;
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}
#footer .top > .wap > div span {
  margin-left: 20px;
  line-height: 30px;
}
#footer .top > .wap > p {
  position: absolute;
  bottom: -15px;
}
#footer .top > .line {
  width: 2px;
  height: 155px;
  margin-left: 20px;
  border-right: 1px solid #565656;
}
#footer .top > .event {
  margin-top: 5px;
}
#footer .top > .event img:not(.nosf) {
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #2c3e50;
  border: 1px solid #fff;
}
#footer .top > .event > div {
  margin-top: 5px;
}
#footer .top > .event > div a {
  display: inline-block;
  width: 200px;
  line-height: 25px;
  color: white;
}
#footer .top > .event > div p {
  text-align: center;
}
#footer .top > .tags {
  margin-right: -50px;
}
#footer .top > .tags > div {
  margin-bottom: 20px;
}
#footer .top > .tags > a {
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  color: #adadad;
  border: 1px solid #adadad;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer .top > .address {
  margin-top: 5px;
}
#footer .top > .address > div span {
  color: white;
  display: inline-block;
  margin-top: 15px;
}
#footer .top > .address div:nth-child(5) img {
  width: 155px;
  height: 35px;
}
#footer .top > .line-bottom {
  background: red;
}
#footer .bottom-line {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background: #565656;
}
#footer .bottom {
  margin-top: 40px;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
#footer .bottom a {
  color: white;
}
#footer .bottom span {
  color: white;
}
#footer .bottom > .a span {
  margin-left: 10px;
}
#footer .bottom > .a > .yellow > a {
  color: #d7b643;
}
#footer .bottom > .b {
  margin-top: 20px;
}
#footer .gotop {
  width: 100%;
  text-align: center;
}
#footer .gotop div {
  display: inline-block;
  width: 1200px;
  height: 100%;
}
#footer .gotop img {
  display: inline-block;
}
.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 980px;
  background: url("../img/d_img/j_bg.jpg") repeat-x;
}
.center > .section {
  width: 810px;
  height: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.center > .section .left {
  width: 570px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center > .section .left .top-img {
  width: 570px;
  height: 32px;
  background: url(../img/d_img/j_title_login.png) no-repeat;
  padding-bottom: 5px;
}
.center > .section .left .div1 {
  height: 105px;
  display: flex;
  flex-direction: row;
  background: url(../img/d_img/j_login_line.png) no-repeat right;
  align-items: center;
}
.center > .section .left .div1 .one-img {
  width: 102px;
  height: 95px;
  background: url(../img/d_img/j_face_bg.png) no-repeat;
  text-align: left;
}
.center > .section .left .div1 .bot-img {
  width: 436px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center > .section .left .div1 .bot-img form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center > .section .left .div1 .bot-img form .input input {
  width: 241px;
  height: 32px;
  margin-bottom: 5px;
  border-radius: 18px;
  border: 2px solid #c5c5c5;
  padding-left: 20px;
  color: #5a5a5a;
  background: #e5e5e5;
  outline: 0;
}
.center > .section .left .div1 .bot-img form .btn {
  text-align: center;
}
.center > .section .left .div1 .bot-img form .btn input {
  width: 102px;
  height: 30px;
  padding: 2px 0;
  border-radius: 15px;
  background: #2e2e2e;
  border: none;
  color: #fff;
  font-weight: 700;
  outline: 0;
}
.center > .section .right {
  width: 235px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.center > .section .right a {
  display: inline-block;
  width: 96px;
  height: 30px;
  font-size: 14px;
  color: #252525;
  line-height: 30px;
  background: #54d1dd;
  padding: 0 20px;
  border-bottom: 5px solid #46aeb8;
  margin-top: 43px;
  border-radius: 2px;
}
.center > .tion {
  width: 810px;
  height: 46px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: url(../img/d_img/j_title_xxzx.png) no-repeat 10px 12px;
}
.center > .section-2 {
  width: 800px;
  height: 1225px;
}
.center > .section-2 .top-img {
  width: 800px;
  height: 333px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  clear: both;
}
.center > .section-2 .top-img ul {
  width: 18400px;
  height: 303px;
  position: absolute;
}
.center > .section-2 .top-img ul li {
  float: left;
  width: 800px;
  height: 303px;
}
.center > .section-2 .top-img ul li img {
  width: 100%;
  height: 100%;
}
.center > .section-2 .top-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 23px;
  background: black;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.center > .section-2 .top-img .left {
  right: 70px;
}
.center > .section-2 .move-img {
  width: 800px;
  height: 874px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-top {
  width: 800px;
  height: 598px;
  display: flex;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-top .move-1 {
  width: 194px;
  height: 598px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.center > .section-2 .move-img .move-top .move-1 .text {
  opacity: .7;
  width: 100%;
  height: 100%;
  background: black ;
  position: absolute;
  top: -195px;
}
.center > .section-2 .move-img .move-top .move-1 .text div {
  text-align: left;
  padding: 30px 20px;
  width: 170px;
  height: 150px;
  background: url("../img/d_img/j_icon_2.png") no-repeat bottom right;
}
.center > .section-2 .move-img .move-top .move-1 .text p {
  width: 154px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  height: 18px;
  margin: 0;
}
.center > .section-2 .move-img .move-top .move-1 .img-1 {
  width: 194px;
  height: 194px;
  position: relative;
  overflow: hidden;
  background: url(../img/d_img/j_index01.jpg) no-repeat;
}
.center > .section-2 .move-img .move-top .move-1 .img-2 {
  width: 194px;
  height: 194px;
  position: relative;
  overflow: hidden;
  background: url(../img/d_img/j_index02.jpg) no-repeat;
}
.center > .section-2 .move-img .move-top .move-1 .img-2 p {
  font-size: 16px;
  height: 20px;
  font-weight: bold ;
}
.center > .section-2 .move-img .move-top .move-1 .img-3 {
  width: 194px;
  height: 194px;
  position: relative;
  overflow: hidden;
  background: url(../img/d_img/j_index03.jpg) no-repeat;
}
.center > .section-2 .move-img .move-top .move-2 {
  width: 397px;
  height: 598px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-top .move-2 .text {
  opacity: .7;
  width: 100%;
  height: 100%;
  background: black ;
  position: absolute;
  top: -195px;
}
.center > .section-2 .move-img .move-top .move-2 .text div {
  text-align: left;
  padding: 30px 20px;
  width: 170px;
  height: 150px;
  background: url("../img/d_img/j_icon_2.png") no-repeat bottom right;
}
.center > .section-2 .move-img .move-top .move-2 .text p {
  width: 154px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  height: 18px;
  margin: 0;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-top {
  width: 397px;
  height: 194px;
  background: url(../img/d_img/j_index04.jpg) no-repeat;
  position: relative;
  overflow: hidden;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-top div {
  padding: 10px;
  text-align: left;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  position: absolute;
  left: -397px;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-top div h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-top div a {
  color: white;
  text-decoration: underline;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot {
  width: 397px;
  height: 396px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left {
  width: 194px;
  height: 396px;
  background: url(../img/d_img/j_index05.jpg) no-repeat;
  overflow: hidden;
  position: relative;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left div {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  padding: 10px;
  text-align: left;
  color: white;
  position: absolute;
  left: -194px;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left div p {
  margin: 0;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left div p:nth-child(2) {
  border-bottom: 1px solid ;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left div a {
  color: white;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-left div li {
  margin-top: 10px ;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-right {
  width: 194px;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-right .move-2-bot-right-top {
  width: 194px;
  height: 194px;
  background: url(../img/d_img/j_index06.jpg) no-repeat;
  position: relative;
  overflow: hidden;
}
.center > .section-2 .move-img .move-top .move-2 .move-2-bot .move-2-bot-right .move-2-bot-right-bot {
  width: 194px;
  height: 194px;
  background: url(../img/d_img/j_index07.jpg) no-repeat;
  position: relative;
  overflow: hidden;
}
.center > .section-2 .move-img .move-top .move-3 {
  width: 194px;
  height: 598px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-top .move-3 .text {
  opacity: .7;
  width: 100%;
  height: 100%;
  background: black ;
  position: absolute;
  top: -195px;
}
.center > .section-2 .move-img .move-top .move-3 .text div {
  text-align: left;
  padding: 30px 20px;
  width: 170px;
  height: 150px;
  background: url("../img/d_img/j_icon_2.png") no-repeat bottom right;
}
.center > .section-2 .move-img .move-top .move-3 .text p {
  width: 154px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  height: 18px;
  margin: 0;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top {
  width: 194px;
  height: 396px;
  background: url(../img/d_img/j_index08.jpg) no-repeat;
  overflow: hidden;
  position: relative;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top div {
  padding: 10px;
  text-align: left;
  color: white;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  position: absolute;
  left: -194px;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top div p {
  margin: 0;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top div p:nth-child(2) {
  border-bottom: 1px solid ;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top div a {
  color: white;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-top div li {
  margin-top: 10px ;
}
.center > .section-2 .move-img .move-top .move-3 .move-3-bot {
  position: relative;
  overflow: hidden;
  width: 194px;
  height: 194px;
  background: url(../img/d_img/j_index09.jpg) no-repeat;
}
.center > .section-2 .move-img .move-bot {
  width: 800px;
  height: 194px;
  display: flex;
  justify-content: space-between;
}
.center > .section-2 .move-img .move-bot .text {
  opacity: .7;
  width: 100%;
  height: 100%;
  background: black ;
  position: absolute;
  top: -195px;
}
.center > .section-2 .move-img .move-bot .text div {
  text-align: left;
  padding: 30px 20px;
  width: 170px;
  height: 150px;
  background: url("../img/d_img/j_icon_2.png") no-repeat bottom right;
}
.center > .section-2 .move-img .move-bot .text p {
  width: 154px;
  line-height: 14px;
  font-size: 14px;
  color: white;
  height: 18px;
  margin: 0;
}
.center > .section-2 .move-img .move-bot .bot-1 {
  width: 397px;
  height: 194px;
  position: relative;
  background: url(../img/d_img/j_index10.jpg) no-repeat;
  overflow: hidden;
}
.center > .section-2 .move-img .move-bot .bot-1 div {
  padding: 10px;
  text-align: left;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  left: -397px;
  position: relative;
}
.center > .section-2 .move-img .move-bot .bot-1 div h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0;
}
.center > .section-2 .move-img .move-bot .bot-1 div a {
  color: white;
  text-decoration: underline;
}
.center > .section-2 .move-img .move-bot .bot-2 {
  width: 194px;
  height: 194px;
  position: relative;
  overflow: hidden;
  background: url(../img/d_img/j_index11.jpg) no-repeat;
}
.center > .section-2 .move-img .move-bot .bot-3 {
  width: 194px;
  height: 194px;
  position: relative;
  overflow: hidden;
  background: url(../img/d_img/j_index12.jpg) no-repeat;
}
.center > .section-2 .move-img .move-fot {
  width: 810px;
  height: 46px;
  background: url("../img/d_img/j_title_sxxx.png") no-repeat;
}
.center > .section-3 {
  width: 100%;
  height: 535px;
  background: url("../img/d_img/j_vedio_bg.jpg") repeat-x;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.center > .section-3 .right ul li {
  width: 322px;
  height: 174px;
  position: relative;
}
.center > .section-3 .right ul li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.center > .section-4 {
  width: 805px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center > .section-4 .sec4-top {
  width: 820px;
  height: 46px;
  margin-top: 40px;
  border-bottom: 1px solid #ccc;
  background: url(../img/d_img/j_title_yyyd.png) no-repeat 10px 12px;
}
.center > .section-4 .ul-li {
  width: 820px;
  height: 30px;
  background: url(../img/d_img/j_yyyd_bg.png) no-repeat;
  line-height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.center > .section-4 .ul-li ul li {
  float: left;
  display: block;
  cursor: pointer;
  width: 205px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.center > .section-4 .div-ul {
  height: 267px;
}
.center > .section-4 .div-ul .li-div-1 {
  visibility: visible;
  position: absolute;
  box-shadow: 2px 2px 10px #ccc;
}
.center > .section-4 .div-ul .li-div-1 ul {
  width: 805px;
  height: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.center > .section-4 .div-ul .li-div-1 ul li {
  width: 267px;
  height: 87px;
  position: relative;
  cursor: pointer;
}
.center > .section-4 .div-ul .li-div-1 ul li img {
  width: 100%;
  height: 100%;
}
.center > .section-4 .div-ul .li-div-1 ul li p {
  position: absolute;
  top: -14px;
  width: 267px;
  height: 87px;
  background: #000;
  opacity: .6;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.center > .section-4 .div-ul .li-div-1 ul li p.last-p {
  background: white;
  width: 267px;
  height: 87px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7a7a7a;
}
.center > .section-4 .div-ul .li-div-2,
.center > .section-4 .div-ul .li-div-3,
.center > .section-4 .div-ul .li-div-4 {
  width: 805px;
  height: 267px;
  background: pink;
  position: absolute;
}
.center > .section-4 .div-ul .li-div-2 {
  background: red;
}
.center > .section-4 .div-ul .li-div-3 {
  background: black;
}
