*{
  margin: 0;
  padding: 0;

}

#header{
  width: 430px;
  height: 400px;
  margin: 100px 0 0 300px;
  border: 3px solid rgb(0,191,255);
  float: left;
}
#left-header{
  padding-top: 5px;
}
#left-header select{
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 20px;
}
#left-header{
  width: 426px;
  margin-top: 20px;
  float: left;
}
#left-header ul{
  float: left;
  margin-left: 20px;
  border-bottom: 1px solid darkgray;
}
#left-header ul li{
  float: left;
  list-style-type: none;
  width: 55px;
  font-size: 12px;
  text-align: center;
  padding:10px 0;
  font-weight: bold}
#left-header ul li span{
  width: 14px;
  height: 14px;
  background-color:red;
  float: left;
  margin-top: -10px;
}
#left-header ul li a{
  margin-left: -10px;
}

#left-header ul:not(:first-of-type) li{
  height: 40px;
}
#left-header ul:not(:first-of-type) li:hover{
  outline: 3px solid #ffdf5c;
  cursor: pointer;
}
#header-right{
  width: 150px;
  height: 404px;
  background-color:deepskyblue;
  float: left;
  margin-top: 100px;
  color: white;}
.aside-top{
  width: 125px;
  height: 183px;
  font-size: 12px;
  margin:20px auto;
  text-align: center;
}
.aside-top span{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: orange;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  margin: 10px auto 10px;
}
.aside-bottom{
  width: 104px;
  height: 152px;
  border-top: 2px solid darkgray;
  margin: auto;
}
.aside-bottom ul{
  margin: 0;
  idth: 104px;
  height: 152px;
}
.aside-bottom ul li{
  list-style-type: none
}
.aside-bottom ul li:first-of-type{
  font-size: 30px;
}



