<!DOCTYPE html>
<html>
    <!--
    	作者：TOP
    	时间：2018-11-01
    	描述：管理员主界面（由管理员登陆进入，可进行功能选择）
    -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="../../../index/css/indexCon.css" media="all" />
	</head>

	<body>
		<div>
			<div class="head">
				<h2 id="head_h2">欢迎来到TOP商家收银系统管理端</h2>
			</div>
			<div class="head_2" >我的店铺：店铺名字</div>
		</div>
		<div class="xhy_1002"><img src="../../../images/1002.gif" /></div>
		<div class="father">
			<button id="gly1" class="myshops">我的店铺</button>
			<button id="gly1" class="myassetss">我的资产</button>
			<button id="gly1" class="myitemss">我的商品</button><br />
			<button id="gly1" class="mystaffs">员工管理</button>
			<button id="gly1" class="myonlines">上线管理</button>
			<button id="gly1" class="myorders">订单查询</button>
			<button id="gly2" class="returnlogin">退出登陆</button>
		</div>
		<script src="../../../base/js/jquery-1.11.3.min.js"></script>
		<script src="../../../base/layui-v2.4.3/layui/layui.js"></script>
		<script type="text/javascript" src="../../../index/js/indexCon.js">
	
		</script>
	</body>

</html>