<!DOCTYPE html>
<html>
	   <!--
    	作者：TOP
    	时间：2018-11-01
    	描述：修改密码界面（员工、管理员进行密码修改）
        -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="../index/css/register.css" media="all"/>
	</head>
	<style>
	</style>
	<body>
		<div class="registfather">
			<div class="regist0">商家注册·管理员</div>
			<div class="regist1">商家名称：<input type="text"/></div>
			<div class="regist1">我的姓名：<input type="text"/></div>
			<div class="regist1">我的性别：
			<select style="width: 269px;height: 30px;">
				<option>男</option>
				<option>女</option>
			</select>
			</div>
			<div class="regist1">出生日期：<input type="text"/></div>
			<div class="regist1">联系方式：<input type="text"/></div>
			<div class="regist1">身份证号码：<input type="text"/></div>
			<div class="regist2" ><button style="width: 200px;margin-top: 20px;">注册</button></div>
			<div class="regist2"><button style="width: 200px;" class="returnlogin">取消</button></div>
		</div>	 
		<script src="../base/js/jquery-1.11.3.min.js"></script>
		<script src="../base/layui-v2.4.3/layui/layui.js"></script>
		<script  src="../index/js/register.js"></script>
	</body>
</html>
