<!DOCTYPE html>
<html>
	   <!--
    	作者：TOP
    	时间：2018-11-01
    	描述：修改密码界面（员工、管理员进行密码修改）
    -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../base/layui-v2.4.3/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../base/font-awesome-4.7.0/css/font-awesome.css" media="all" />
		<link rel="stylesheet" href="../index/css/settingPassword.css" media="all"/>
	</head>
	<style>
	</style>
	<body>
		<div class="xgpassfather">
			<div class="xgpass0">修改登陆密码</div>
			<div class="xgpass1">原密码：<input type="text"/></div>
			<div class="xgpass1">新密码：<input type="text"/></div>
			<div class="xgpass1">确认新密码：<input type="text"/></div>
			<div class="xgpass2" ><button style="width: 150px; margin-top: 20px;">确认修改</button></div>
			<div class="xgpass2"><button style="width: 100px;">取消</button></div>
		</div>	 
		<script src="../../../base/js/jquery-1.11.3.min.js"></script>
		<script src="../../../base/layui-v2.4.3/layui/layui.js"></script>
	</body>
</html>
