.xgpassfather{
		margin:0px auto; 
		width: 340px;
		height: 400px;
	}
	.xgpass0{
		padding-top: 20px;
		text-align:center;
		font-size: 28px;
	}
	.xgpass1{
		float: right;
		padding-right: 20px;
		padding-top: 20px;
		text-align:center;
		font-size: 22px;
	}
	.xgpass2{
	    text-align:center;
		font-size: 20px;
		padding-top: 20px;
	}