/*重置样式*/
html,
body {
  height: 100%;
  overflow: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
}
a {
  display: block;
  color: white;
}
li {
  list-style: none;
}
img {
  display: block;
}
#head {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
}
#head > .box1 {
  width: 980px;
  height: 60px;
  margin: auto;
}
#head > .box1 > .logo {
  float: left;
  margin: 16px 0 0 0;
}
#head > .box1 > .nav {
  float: right;
  height: 100% ;
}
#head > .box1 > .nav .active {
  background: #fc0;
  color: black;
}
#head > .box1 > .nav li {
  cursor: pointer;
  float: left;
  height: 100% ;
  width: 90px;
  font-size: 14px;
  color: white;
}
#head > .box1 > .nav li:hover {
  background: #fc0;
  color: black;
}
#head > .box1 > .nav li p {
  line-height: 60px;
  text-align: center;
}
#content {
  position: absolute;
  width: 100%;
  top: 60px;
}
#content > .list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s top;
}
#content > .list > li {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: 50% 50% !important;
  overflow: hidden;
}
#content > .list > .one {
  width: 100%;
  height: 100%;
  background: url(../img/s1.jpg) center;
  overflow: hidden;
}
#content > .list > .one img {
  position: absolute;
  top: 27px;
  left: 140px;
}
#content > .list > .two {
  width: 100%;
  height: 100%;
  background: url(../img/s2.jpg) repeat;
  overflow: hidden;
}
#content > .list > .two > .bj {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
#content > .list > .two > .left {
  position: absolute;
  left: 60px;
  top: 10%;
  width: 837px;
}
#content > .list > .two > .left > li {
  float: left;
  margin-right: 20px;
  width: 259px;
  height: 434px;
  font-size: 18px;
  position: relative;
}
#content > .list > .two > .left > li > .img {
  width: 100%;
  text-align: center;
}
#content > .list > .two > .left > li > span {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#content > .list > .two > .left > li > span img {
  display: inline-block;
  text-align: center;
}
#content > .list > .two > .left > li > p {
  margin: 10px;
  width: 100%;
  text-align: center;
}
#content > .list > .two > .right {
  position: absolute;
  right: 30px;
  top: 60px;
}
#content > .list > .two > .right > .one {
  width: 166px;
  height: 150px;
  border-right: 2px solid black;
  color: #333;
  padding-right: 5px;
}
#content > .list > .two > .right > .one > h1 {
  float: right;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 100;
}
#content > .list > .two > .right > .one > p {
  float: right;
  font-size: 18px;
  line-height: 1.5em;
}
#content > .list > .two > .right > .one > a {
  margin-top: 20px;
  float: right;
  color: #333;
  text-decoration: solid;
}
#content > .list > .three {
  width: 100%;
  height: 100%;
  background: url(../img/s3.jpg) repeat;
  overflow: hidden;
}
#content > .list > .three > .bj {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
#content > .list > .three > .left {
  position: absolute;
  left: 60px;
  top: 10%;
  width: 852px;
}
#content > .list > .three > .left > li {
  float: left;
  margin-right: 20px;
  width: 260px;
  height: 434px;
  font-size: 18px;
  position: relative;
}
#content > .list > .three > .left > li > .img {
  width: 100%;
  text-align: center;
}
#content > .list > .three > .left > li > span {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#content > .list > .three > .left > li > span img {
  display: inline-block;
  text-align: center;
}
#content > .list > .three > .left > li > p {
  margin: 10px;
  width: 100%;
  text-align: center;
}
#content > .list > .three > .right {
  position: absolute;
  right: 30px;
  top: 60px;
}
#content > .list > .three > .right > .one {
  width: 166px;
  height: 150px;
  border-right: 2px solid black;
  color: #333;
  padding-right: 5px;
}
#content > .list > .three > .right > .one > h1 {
  float: right;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 100;
}
#content > .list > .three > .right > .one > p {
  float: right;
  font-size: 18px;
  line-height: 1.5em;
}
#content > .list > .three > .right > .one > a {
  margin-top: 20px;
  float: right;
  color: #333;
  text-decoration: solid;
}
#content > .list > .four {
  width: 100%;
  height: 100%;
  background: url(../img/s4.jpg) repeat;
  overflow: hidden;
}
#content > .list > .four > .bj {
  height: 100%;
  position: absolute;
  right: -20px;
  bottom: -220px;
}
#content > .list > .four > .left {
  position: absolute;
  left: 60px;
  top: 10%;
  width: 1002px;
}
#content > .list > .four > .left > li {
  float: left;
  margin-right: 20px;
  width: 310px;
  height: 434px;
  font-size: 18px;
  position: relative;
}
#content > .list > .four > .left > li > .img {
  width: 100%;
  text-align: center;
}
#content > .list > .four > .left > li > span {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#content > .list > .four > .left > li > span img {
  display: inline-block;
  text-align: center;
}
#content > .list > .four > .left > li > p {
  margin: 10px;
  width: 100%;
  text-align: center;
}
#content > .list > .four > .right {
  position: absolute;
  right: 30px;
  top: 60px;
}
#content > .list > .four > .right > .one {
  width: 166px;
  height: 150px;
  border-right: 2px solid black;
  color: #333;
  padding-right: 5px;
}
#content > .list > .four > .right > .one > h1 {
  float: right;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 100;
}
#content > .list > .four > .right > .one > p {
  float: right;
  font-size: 18px;
  line-height: 1.5em;
}
#content > .list > .four > .right > .one > a {
  margin-top: 20px;
  float: right;
  color: #333;
  text-decoration: solid;
}
#content > .list > .four > bj {
  background-position: 50% 50%;
}
#content > .list > .five {
  width: 100%;
  height: 100%;
  background: url(../img/s5.jpg) repeat;
  overflow: hidden;
}
#content > .list > .five > .bj {
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: -180px;
}
#content > .list > .five > .left {
  position: absolute;
  left: 60px;
  top: 10%;
  width: 852px;
}
#content > .list > .five > .left > li {
  float: left;
  margin-right: 20px;
  width: 260px;
  height: 434px;
  font-size: 18px;
  position: relative;
}
#content > .list > .five > .left > li > .img {
  width: 100%;
  text-align: center;
}
#content > .list > .five > .left > li > span {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#content > .list > .five > .left > li > span img {
  display: inline-block;
  text-align: center;
}
#content > .list > .five > .left > li > p {
  margin: 10px;
  width: 100%;
  text-align: center;
}
#content > .list > .five > .right {
  position: absolute;
  right: 30px;
  top: 60px;
}
#content > .list > .five > .right > .one {
  width: 166px;
  height: 150px;
  border-right: 2px solid black;
  color: #333;
  padding-right: 5px;
}
#content > .list > .five > .right > .one > h1 {
  float: right;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 100;
}
#content > .list > .five > .right > .one > p {
  float: right;
  font-size: 18px;
  line-height: 1.5em;
}
#content > .list > .five > .right > .one > a {
  margin-top: 20px;
  float: right;
  color: #333;
  text-decoration: solid;
}
#content > .list > .five .three {
  width: 310px;
}
#content > .list > .five > .left li span {
  text-align: left;
}
#content > .list > .five > .left li p {
  margin-left: -5px;
  text-align: left;
}
#row {
  position: absolute;
  right: 15px;
  top: 50%;
  display: flex;
}
#row > .item > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333333 ;
  cursor: pointer;
  margin-top: 5px;
}
#row > .item > .active {
  background: #333;
}
